.text2
  %h1 the people behind piu piu
  %br
  %br
  = "piu people are weird. They laugh a lot and talk a lot of nonsense."
  %br
  = "But they can also work really hard...and that's what we did."
  %br
  %br
  = "piu people are:"
  %br
  = "Magdalena Achleitner (concept, design, illustrations)"
  %br
  = "Sonja Stangl (idea, concept, design, illustrations)"
  %br
  = "Ismail Hanli (coding)"
  %br
  %br
  %br
  = "special thanks to:"
  %br
  = "Manuel Eisl (processing)"
  %br
  = "Vladimir Verivélle (inspiration)"
  %br
  = "chocolate & ice cream (sacrificial cooperation)"
  %br
  %img{ :src => "/images/impressum_illu-18.png", :class => "illus" }