<!-- start icons --> 
 
<div class="start_container"> 
 
<%= link_to "", page_path("wtf"), :class => "start_wtf" %>
<%= link_to "", new_user_registration_path, :class => "start_signup" %>

<%= image_tag "pw_falsch-17.png", :class => "pw_wrong" if flash[:alert] == I18n.t("devise.failure.invalid") %>
<div class="login"> 

<%= link_to "", user_root_path, :class => "start_login" %>

<%= form_for :user, :as => :user, :url => user_session_path, :html => { :class => "login_feld" } do |f| %>
  <%= f.email_field :email, :size => "18", :class => "feld" %>
  <%= f.password_field :password, :size => "18", :class => "feld" %>
  <%= f.submit "", :class => "check" %>
  <%= link_to "", new_user_password_path, :class => "forgot_pw" %>
<% end %>
</div><!-- end login -->


<%= flash[:alert] %> 
 
</div><!-- end start container --> 