.text2
  %h1 wtf?
  %br
  %br
  = "What is piu piu? First of all, this is one of the few pages containing letters you'll find here. The thing is, that we are trying to get people to communicate without words on this website and we'd love to see you express yourself in a different way. For starting at ourselves first, we set a good example by using only icons for navigation on the website."
  %br
  %br
  = "How it all started: One day we thought, that the world could be a better place...and because we are only secretly super heroes, we had to find an inconspicuous way to get rid of some grievous ills. Our first goal is to decrease the amount of empty words, by creating this website ;)"
  %br
  %br
  = "You may still ask yourself \"what the fuck?\" We live in a world where we are swamped with information from various sources. The relevance of these messages is mostly questionable. Especially on social media platforms the spread of word vomit is carried to extremes. This causes the feeling that some people write faster than they think. To counteract this we hope to slow down the process of developing messages by getting you to create them without words."
  %br
  %br
  = "If you still ask yourself \"what the fuck?\"...just try it!"
  %br
  %br
  = "Should you not be able to figure out everything, or you have other questions, or you just want to say hi, contact us on "
  = link_to "mimimi@piupiu.at", "mailto:mimimi@piupiu.at", :class => "piupiu_link"
  = image_tag "wtf_illu-18.png", :class => "illus"