%div.container_pic
  %img{ :src => @node.image.url(:original), :class => "big_pic" }
  
= form_for @post, :html => { :id => "comment_post", :class => " ", :multipart => "true" } do |f|
  = f.file_field :image, :style => "visibility:hidden"
  = button_to_function "", "$('#post_image').trigger('click')", :class => "upload"
  = f.submit "", :class => "submit_popup"
  = f.hidden_field :ancestry, :value => @node.id
  
= button_to "", { :action => "download" }, :method => "get", :class => "download"

- if @node.user.id == current_user.id && !@node.deleted?
  = button_to "", { :action => "destroy", :id => @node.id }, :method => "delete", :class => "delete_pic"