<!-- untermenu -->
<%= link_to "", posts_path(:sort_by => "created_at", :order => "DESC"), :class => "new_old" %>
<%= link_to "", posts_path(:sort_by => "created_at", :order => "ASC"), :class => "old_new" %>
<%= link_to "", posts_path(:sort_by => "descendants.count", :order => "DESC"), :class => "big_small" %>
<%= link_to "", posts_path(:sort_by => "descendants.count", :order => "ASC"), :class => "small_big" %>


<div class="bsp_komm">
<% @trees.each do |tree| %>
	<a href=<%= "#{post_path(tree.id)}" %>><div>
		<%= image_tag tree.image.url(:medium) %>
		<div class="profilbilder_overlay">
			<%= image_tag tree.creator.avatar.url(:icon), :class => "creator_overlay" %>
			
			<% if tree.has_children? %>
				<%= image_tag tree.last_contributor.avatar.url(:icon), :class => "last_contributor_overlay" %>
			<% else %>
				<div class="last_contributor_overlay"></div>
			<% end %>
		</div>
	</div></a>
<% end %>
</div>