:javascript
  $(document).ready(function(){
  	map = new CommunicationMap();
  	startPos = {x:0,y:0};
	
  	$(window).resize(function(){
  		var top = $("#balken_oben").offset().top + $("#balken_oben").height();
  		var height = $(window).height() - top;
  		$("#canvas > svg").attr({"height":height,"width":$(".plus_zoom").offset().left});
  	});
	
  	$("#canvas").mousedown(function(e){
  		startPos.x = e.pageX;
  		startPos.y = e.pageY;
  		map.start();

  		$("#canvas").mousemove(function(e){
  			map.move(e.pageX - startPos.x, e.pageY - startPos.y);
  		});
  	});
	
  	$("body").mouseup(function(e){
  		$("#canvas").unbind("mousemove");
  	});
	
  	$("#canvas").mouseleave(function(e){
  		$("#canvas").unbind("mousemove");
  	});
	
  	$("#canvas").mousewheel(function(objEvent, intDelta){
  		intDelta > 0 ? map.zoomIn() : map.zoomOut();
  	});
	
  	$.getJSON("/posts/#{@tree.root.id}",
  	{
  		format: "json"
  	},
  	function(data) {
  		map.render(data);
  	});
	
  	$("a[rel*=facebox]").facebox({
  		loadingImage : "/images/loading.gif",
  		closeImage   : "/images/closelabel.png"
  	});
	
  	$("#overlay_pictures").hover(
  		function(){
  			$(this).css("display", "block");
  		},
		
  		function(){
  			$(this).css("display", "none");
  		}
  	);
  });

#canvas

= link_to "", "/posts/", :rel => "facebox", :id => "popup"

= link_to_function "", "map.zoomIn()", :class => "plus_zoom"
= link_to_function "", "map.zoomOut()", :class => "minus_zoom"

#overlay_pictures
  %a{ :href => "" }
    %img.creator_overlay

#report{ :style => "display:none;" }
  = form_for(:post, :as => :post, :url => "", :html => { :method => :post }) do |f|
    = f.submit "", :class => "thumb_up", :id => "report_submit"
    = link_to "", post_path(@tree.id), :class => "thumb_down"