<!DOCTYPE html>
<html>
<head>
  <title>piu piu</title>
  <link rel="icon" href="/images/favicon_piupiu-01.png" type="image/ico" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "processing-1.1.0" %>
  <%= javascript_include_tag "raphael-min" %>
  <%= javascript_include_tag "facebox" %>
  <%= javascript_include_tag "CommunicationNode" %>
  <%= javascript_include_tag "CommunicationMap" %>
  <%= javascript_include_tag "jQuery_mousewheel_plugin" %>
  <%= csrf_meta_tag %>
</head>
<body>

<!-- Layout -->
<%= content_tag :div, "", :id => "balken_oben", :class => ["balken","oben"] %>
<%= link_to "", root_path, { :class => "piupiu" } %>

<% if user_signed_in? and !current_page?(:controller => "high_voltage/pages", :action => "show", :id => "index") %>
  <!-- menubar -->
  <%= link_to "", user_root_path, :class => current_page?(:controller => user_root_path, :action => "index") ? ["rahmen_profilbild","aktiv"] : "rahmen_profilbild" %>
  <%= link_to "", posts_path, :class => current_page?(:controller => "/posts", :action => "index") ? ["overview_link","aktiv"] : "overview_link" %>
  <%= link_to "", new_post_path, :class => current_page?(:controller => "/posts", :action => "new") ? ["new_post","aktiv"] : "new_post" %>
  <%= link_to "", destroy_user_session_path, :class => "logout" %>
<% end %>
<%= link_to "", page_path("wtf"), :class => current_page?(:controller => "high_voltage/pages", :action => "show", :id => "wtf") ? ["wtf","aktiv"] : "wtf" %>
<%= link_to "", page_path("impressum"), :class => current_page?(:controller => "high_voltage/pages", :action => "show", :id => "impressum") ? ["impressum","aktiv"] : "impressum" %>

<%= yield %>

<% if controller.controller_name == "registrations" and (controller.action_name == "new" or controller.action_name == "create") %>
	<%= content_tag :div, "", :id => "balken_unten", :class => "balken unten_relative" %>
<% else %>
	<%= content_tag :div, "", :id => "balken_unten", :class => "balken unten" %>
<% end %>

</body>
</html>
