%html
  %head
    %title piu piu
    %link{ :href => "/images/favicon_piupiu-01.png", :rel => "icon", :type => "image/ico" }
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery.ui.widget"
    = javascript_include_tag "processing-1.1.0"
    = javascript_include_tag "raphael-min"
    = javascript_include_tag "facebox"
    = javascript_include_tag "CommunicationNode"
    = javascript_include_tag "CommunicationMap"
    = javascript_include_tag "jQuery_mousewheel_plugin"
    = javascript_include_tag "jquery.fileupload"
    = javascript_include_tag "jquery.iframe-transport"
    = csrf_meta_tag
  %body
    %noscript.noscript_overlay
      .noscript_message
        = image_tag "JSeinschalten-22.png"

    #balken_oben.balken.oben      
    = link_to "", user_signed_in? ? posts_path : root_path, { :class => "piupiu" }
    
    = render_navigation :renderer => :links
    
    = yield