%html
  %head
    %title piu piu
    %link{ :href => "/images/favicon_piupiu-01.png", :rel => "icon", :type => "image/ico" }
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body
    #balken_oben.balken.oben      
    = link_to "", posts_path, { :class => "piupiu" }
    
    = link_to "", page_path("wtf"), :class => "wtf"
    = link_to "", page_path("impressum"), :class => "impressum"
    
    = yield
